.many{
    background-color: #FFFFFF !important;
    display: flex;
    flex-direction: column;
}
.ui.main.text.container {
	flex: 1 0 auto;
}
.ui.menu .item img.logo {
    margin-right: 1.5em !important;
}
.main.container {
    margin-top: 7em !important;
}
.wireframe {
    margin-top: 2em !important;
}
.ui.footer.segment {
    margin: 5em 0em 0em !important;
    padding: 5em 0em !important;
}
.ui.vertical.segment:last-child {
	margin-top: 0px;
}
.ui.main.text.container>.ui.middle.aligned.center.aligned.grid>.column{
	width: 75% !important;
}
.fields>.sixteen.wide.field>label{
	font-size: 1.2em;
}
.ui.dividing.header{
	font-size: 2rem;
}
.ui.main.text.container>.ui.form{
	margin-bottom: 30px;
}
.ui.inverted.green.button{
	/*margin-left: 88.4%;
	position: left !important;*/
}
.ui.secondary.vertical.pointing.menu{
	/*position: fixed;
	top: 0;*/
}
.ui.main.text.container>.ui.middle.aligned.center.aligned.grid{
	margin-bottom: 50px;
}
.centralizar{
	text-align: center;
}
.text_italic{
	font-style: italic;
}
.text_justifica{
	text-align: justify;

}
.text_direita{
	text-align: right;
}
.ui.segment.transparent{
	border: transparent !important;
	box-shadow: none;
}
.ui.container.adm{
	margin: 5% 10% 5% 10%;
}
.column.painel{
	width: 30% !important;
	margin-left: 0% !important; 
}
.column.conteudo{
	width: 70% !important;
}
input[type='file'] {
  display: none;
}

/*Responsividades*/
@media screen and (max-width: 1280px) {
      .ui.container.adm{
             margin: 5% 15% 10% 3%;
       }
}
.imagem{
	margin-left: 34%;
}
/*Fim Responsividades*/

/*Estilo Menu Semantic*/
.ui.inverted.vertical.masthead.center.aligned.segment{
	/*background-image: url("../img/background-index.jpg");*/
}
.principal.menu .toc.item {
	display: none !important;
}
.inverted.fixed.menu>.right.item> .ui.inverted.button{
	margin-left: 0.5em;
}
.principal.menu>.item.responsivo:before,
.principal.menu>.right.item:before,
.principal.menu>.toc.item:before,
.item.responsivo:before{
	display: none !important;
}
.item.responsivo.first{
	margin-left: 3em;
}
.ui.simple.dropdown.last{
	margin-right: 3em;
}
.ui.large.secondary.inverted.pointing.menu{
	border: transparent;
}
@media only screen and (max-width: 700px) {
	.principal.menu>.item.responsivo,
	.principal.menu>.menu.responsivo {
		display: none !important;
	}
	.principal.menu .toc.item {
		display: flex !important;
	}
	.imagem{
		margin-left: 17% !important;
	}

}

/*Fim Menu*/